<div class="author fade">
    <h1 class="author__heading">Suku Badan Kesatuan Bangsa dan Politik</h1>
    <p class="author__body">Kota Administrasi Jakarta Timur</p>
</div>

<div class="image-xcontain">
    <img src="/images/department.jpg" alt="Gedung Walikota Jakarta Timur" class="department-image fade">
</div>


<section class="news-section fade">
    <!-- Article Heading -->
    <div class="articles__header">
      <h2 class="articles__heading">Latest Post</h2>
      <div class="heading-underline"></div>
    </div>
  
    <!-- Articles Container -->
    <div class="articles__container fade">
      <% data.forEach(function(post) { %>
        <div class="article-card fade">
          <h3 class="article-title"><%= post.title %></h3>
          <p class="article-meta"><%= post.createdAt.toDateString() %></p>
  
          <!-- Show only the first 20 words of the article body -->
          <p class="article-excerpt">
            <% let words = post.body.split(' '); %>
            <%= words.slice(0, 20).join(' ') %>...
          </p>
  
          <!-- Continue Reading Link -->
          <a href="/post/<%= post._id %>" class="read-more">Continue Reading &rarr; </a>
        </div>
      <% }); %>
    </div>
  
    <!-- Pagination Controls -->
    <div class="pagination">
      <% if (current > 1) { %>
        <a href="?page=<%= current - 1 %>" class="prev">Previous</a>
      <% } %>
      
      <% if (nextPage) { %>
        <a href="?page=<%= nextPage %>" class="next">Next</a>
      <% } %>
    </div>
  </section>
  
  
  

